<ul>
    <li><a href="#dashboard">Dashboard</a></li>
    <li><a href="/t">Purchases</a></li>
    <li><a href="/sales">Sales</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/rep">Reports</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/supply">Supliers</a></li>
    <li><a href="/inventory">Main Store</a></li>
    <li><a href="#">Stocklist</a></li>
    <li><a href="/roles">Role & Permissions</a></li>
    <li><a href="/settings">Settings</a></li>


</ul>