<ul>
    <li><a href="#">Dashboard</a></li>

   
  
    <!-- <-- <li><a href="/customers">Customers</a></li> -->
    <!-- <li><a href="/sales">POS</a></li> --> 
    <li><a href="/categ"> House Type</a></li>
    <li><a href="/t"> Houses</a></li>
    <li><a href="/inventory"> Tenants</a></li>
    <li><a href="/supply">Payments</a></li>
    <li><a href="/rep">Reports</a></li> 
    <li><a href="/users"> Users</a></li>
     <!-- <li><a href="#">Creditors</a></li>   -->
    <li><a href="/roles"> Role & Permissions</a></li>
    <li><a href="/settings"> Settings</a></li>
    <!-- <li><a href="/profile">Profile</a></li> -->


</ul>

