<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Online Library</h1>
      <div class="container">
         <div class="title"><%=items[0].name %> </div>
         <div class="address"><%=items[0].address %> </div>
           <small>&COPY; 2024 all rights reserved</small>
      </div>
</body>
</html>