<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="styles.css">
</head>
<!-- <style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    background-color:green;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.main-menu, .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-menu li, .sub-menu li {
    margin: 0 10px;
}

.main-menu li a, .sub-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.main-menu li a:hover, .sub-menu li a:hover {
    background-color: #444;
    border-radius: 4px;
}

hr {
    border: 1px solid #555;
    margin: 10px 0;
}

.content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    border: none;
}

.required {
    color: red;
}

.form-actions {
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-actions button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}

.form-actions button[type="button"] {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}

    </style> -->
<body>
    <div class="container" style="width: 30%; margin-left: 980px;">

        <h1>Product Activation</h1>
        <form action="/s" method="post">
            <label for="businessName">Company Name:</label>
            <input type="text" id="businessName" name="name" value="<%=items.businessName %>" required >
            
            <label for="address">Activation Code:</label>
            <input type="text" id="address" name="code" required>
            
          
            <br><br><br>
            <button type="submit" style="width: 70%; height: 55px;margin-left: 100px; font-size: large;">Save Information </button>
        </form> 
          <p>&COPY 2019 DEVPOS All rights reserved. Activating the product grants you access to the pos.</p>
    </div>
    <script src="scripts.js"></script>
</body>
</html>

